@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
  --font-titan: "Titan One", sans-serif;
  --font-exo2: "Exo 2", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
